PORT=8080
HITKEEP_HTTP_ADDR=:8080
HITKEEP_PUBLIC_URL=https://${{RAILWAY_PUBLIC_DOMAIN}}
HITKEEP_JWT_SECRET=${{secret(64, "abcdef0123456789")}}
HITKEEP_DB_PATH=/var/lib/hitkeep/data/hitkeep.db
HITKEEP_DATA_PATH=/var/lib/hitkeep/data
HITKEEP_ARCHIVE_PATH=s3://${{hitkeep-backups.BUCKET}}/hitkeep/archive
HITKEEP_BACKUP_PATH=s3://${{hitkeep-backups.BUCKET}}/hitkeep/backups
HITKEEP_BACKUP_INTERVAL=60
HITKEEP_BACKUP_RETENTION=24
HITKEEP_S3_ACCESS_KEY_ID=${{hitkeep-backups.ACCESS_KEY_ID}}
HITKEEP_S3_SECRET_ACCESS_KEY=${{hitkeep-backups.SECRET_ACCESS_KEY}}
HITKEEP_S3_REGION=${{hitkeep-backups.REGION}}
HITKEEP_S3_ENDPOINT=storage.railway.app
HITKEEP_S3_URL_STYLE=vhost
HITKEEP_S3_USE_SSL=true
HITKEEP_SPAM_FILTER_AUTO_UPDATE=true
HITKEEP_SPAM_FILTER_PATH=/var/lib/hitkeep/data/spam-filter.json
RAILWAY_RUN_UID=0
